
    /*ein Kommentar* 
    max-width: 120px;
    margin: auto
    font-family: Arial;
}
header {
   text-align: center; 
}
header p {
    front-size: 0.8em;
    front-wight: bold;
    text-align: right;
    padding-right: 1em;
    margin-top: -2em;
.white, 
.white a:link; 
white a:visited {
    color: white; 
}
header nav img {
    border-radius: 50%;
}
</html>